@import "bootstrap";

h1 {
  font-weight: 600;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.navbar {
    background-color: white !important;
}

.nav-link {
    color: black !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.jumbotron {
    background-image: url('unsplash-machine.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}

#home-container {
    margin-top: 25px;
}

/* Sticky Footer Classes */

html, body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

/* End of Sticky Footer Classes */

body {
  height: 100%;
  background-color: #007bff; 
  background-image: linear-gradient(to bottom right, #b340b3, #0062E6); 
}

.article-gradient {
  height: 100%;
  background-image: linear-gradient(to left, rgba(235, 117, 253, 0), #FFF);
}

/* Pagination Customization */

.custom_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; 
}

.custom_pagination a, .custom_pagination span, .custom_pagination em {
  padding: 0.2em 0.5em;
  border-radius: 5px; 
}

.custom_pagination .disabled {
  color: #aaaaaa; 
}

.custom_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: whitesmoke; 
}

.custom_pagination a {
  border: 1px solid whitesmoke;
  color: whitesmoke;
  text-decoration: none; 
}

.custom_pagination a:hover, .custom_pagination a:focus {
  border-color: gray;
  background: whitesmoke;
  color: gray; 
}

.custom_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; 
}

.custom_pagination .previous_page, .custom_pagination .next_page {
  border-width: 2px; 
}

.custom_pagination .previous_page {
  margin-right: 1em; 
}

.custom_pagination .next_page {
  margin-left: 1em; 
}