<!-- Footer -->
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-white text-black">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Pablo Gandarillas", "https://github.com/piavolo", target: :_blank, class: "text-black" %></small>
    </div>
</footer>
<!-- Footer -->